body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.element{
    background-image: url('http://source.unsplash.com/random/100x100');
    position:relative;
    width:100px;
    height:100px;
    top:5px;
    left:5px;
    cursor: pointer;
}
.myDiv{
    display:inline-block;
    height:110px;
    width:110px;
    margin:10px;
    background-color: black;
    border: 1px solid black;;
}
.hold{
    border:3px solid rgb(86, 250, 53);
}
.hovered{
    background-color: rgb(190, 0, 0);
    border-style: dashed;
}
.invisible{
    display:none;
}